<!DOCTYPE html>
<html>
<head>
	<title>reddit: the front page of the internet</title>
	<link rel="stylesheet" type="text/css" href="./style.css">
	<link rel="icon" type="image/png" href="http://threewordphrase.com/reddit_32.png"/>
</head>
<body>
<%= yield %>
</body>
</html>