<form action="/index/create" method="post" >
	<div> title <input type="text" name="title"/> </div>
	<div> url <input type="text" name="link"/> </div>
	<strong>or</strong>
	<div> body <textarea name="body" cols=50 rows=5></textarea> </div>
	<div> image url <input type="text" name="image_url"></div>
	<button type="submit">submit</button>
</form>