<form action="//create" method="post" >
	<div> author <input type="text" name="author"/></div>
	<div> url <input type="text" name="link"/> </div>
	<div> body <textarea name="body" cols=50 rows=5></textarea> </div>
	<div> image url <input type="text" name="image_url"></div>
	<button type="submit">submit</button>
</form>