<form action="/r/<%= @subreddit %>/ <%= @submission %>/ create" method="post" >
	<div> author <input type="text" name="author"/></div>
	<div> body <textarea name="body" cols=50 rows=5></textarea> </div>
	<button type="submit">submit</button>
</form>